<section>
    <div class="title">
        <div class="contru_name">
            <h1>NEWS</h1>
        </div>
        <div class="line"></div>
    </div>

    <div class="events_list">
        <!--Фільтр по країнах]-->
        <div class="filter">
            <div class="search">
                <select id="countrySelect" class="form-control" (change)="onCountrySelect($event)">
                    <option value="" disabled selected>Choose a country</option>
                    <option class="country" value="all">All</option>
                    <option *ngFor="let country of countryArr" [value]="country.id">{{ country.name }}</option>
                </select>
            </div>
        </div>

        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let item of items">

                <div class="image_link">
                    <a [routerLink]="['/news-page']" [queryParams]="{ newsID: item.id }">
                        <div class="img_black">
                            <img [src]="item.imagen" alt="{{ item.namen}}" />
                        </div>
                    </a>
                </div>
                <div class="title_description">
                    <h4>{{ item.namen }}</h4>

                    <button type="button" class="btn btn-outline-secondary" [routerLink]="['/news-page']"
                        [queryParams]="{ newsID: item.id }">More >>></button>
                </div>
            </li>
        </ul>

    </div>



</section>