<section>
    <h1>Новини</h1>


    <div class="button_block">
        <!--Кнопка створення подій-->
        <div class="creat_button">
            <p>Створити</p>
            <button (click)="event_form = !event_form; resetForm()" class="btn btn-outline-secondary" data-rel="address"
                type="button">
                {{ !event_form ? "ДОДАТИ" : "ВІДМІНИТИ" }}
            </button>
        </div>
        <!--Фільтр-->
        <div class="filter" [ngClass]="{ active: event_form }">
            <p>Фітр по країнах</p>
            <div class="search">

                <select id="countrySelect" class="form-control" (change)="onCountrySelect($event)">
                    <option value="" disabled selected>Оберіть країну</option>
                    <option class="country" value="all">All</option>
                    <option *ngFor="let country of countryArr" [value]="country.id">{{ country.name }}</option>
                </select>
            </div>
        </div>

    </div>

    <!--таблиця подій-->
    <div class="table_block" [ngClass]="{ active: event_form }">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">№</th>
                    <th scope="col">Назва</th>
                    <th scope="col">Опис</th>
                    <th scope="col">Картинка</th>
                    <th scope="col">Дії</th>
                </tr>
            </thead>
            <tbody>
                @for(events of eventArr; track eventArr; let i = $index){
                <tr>
                    <td>{{ i + 1 }}
                        {{events.createdAt}}
                    </td>

                    <td class="name">{{events.namen}}</td>
                    <td>
                        <div class="description" [innerHTML]="events.description"></div>
                    </td>
                    <td class="image">
                        <img *ngIf="events.imagen" [src]="events.imagen" />
                    </td>
                    <td class="btn_tr">
                        <a (click)="editEvent(events)" type="button" title="Редагувати">
                            <img src="../../assets/icon/edit.png" alt="Редагувати">
                        </a>
                        <a (click)="delEvent(events)" type="button" title="Видалити">
                            <img src="../../assets/icon/dell.png" alt="Видалити">
                        </a>
                    </td>

                </tr>
                }
            </tbody>
        </table>
    </div>



    <div class="add_event_block" [ngClass]="{ active: !event_form }">
        <form [formGroup]="eventForm" (ngSubmit)="creatEvent()" class="form_events">

            <div class="country_select form-group">
                <label for="countrySelect">Виберіть країну</label>
                <select id="countrySelect" formControlName="country" class="form-control">
                    <option [ngValue]="country" *ngFor="let country of countryArr">
                        {{ country.name}}
                    </option>
                </select>
            </div>

            <!--Назва події-->
            <div class="input_block name">
                <h4>Назва </h4>
                <div class="input ">
                    <input formControlName="namen" type="text" name="nameOrganization" class="form-control"
                        placeholder="*Введіь назву події">
                </div>
            </div>

            <!--Посилання-->
            <div class="input_block link">
                <h4>Посилання </h4>
                <div class="input ">
                    <input formControlName="link" type="text" name="link" class="form-control"
                        placeholder="*Введіь посилання">
                </div>
            </div>

            <!--Опис-->
            <div class="input_block description">
                <h4>Опис</h4>
                <div class="input ">
                    <div class="input ">
                        <editor apiKey="7nz9ybi4njv0mtwxfy0gssnq6mboi2nk7jetpeg4n7brgqxq"
                            [init]="{ plugins: 'lists link image table code help wordcount' }" [inline]="false"
                            formControlName="description"
                            toolbar="bold italic underline | formatpainter | aligncenter alignleft alignright alignjustify | selectall | ltr rtl | code | help">
                        </editor>
                    </div>
                </div>
            </div>

            <!-- Зображення -->
            <div class="image">
                <div class="progress_line">
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped" role="progressbar"
                            aria-label="Default striped example" [style.width.%]="uploadPercent" aria-valuemin="0"
                            aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="image">
                    <img *ngIf="imagen; else emptyImage" [src]="imagen" alt="">
                </div>
                <ng-template #emptyImage>
                    <div class="placeholder"></div>
                </ng-template>

                <input #fileInput type="file" style="display: none;" (change)="uploadUserImage($event)"
                    accept="image/*" />
            </div>


            <div class="button_block">
                <button class="overlay btn btn-outline-secondary" type="button" (click)="fileInput.click()">Змінити
                    зображення</button>



                <div class="batton_section">
                    <button [disabled]="eventForm.invalid" type="submit" class="btn btn-outline-secondary">
                        Зберегти
                    </button>
                </div>

            </div>

        </form>
    </div>


</section>