<!-- Modal -->
<div class="modal-body" id="loginModal">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="loginModalLabel">Вхід до адміністративної панелі</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form (ngSubmit)="loginUser()" #loginForm="ngForm">
                <div class="mb-3">
                    <label for="email" class="form-label">Електронна пошта</label>
                    <input type="email" class="form-control" id="email" [(ngModel)]="email" name="email" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Пароль</label>
                    <input type="password" class="form-control" id="password" [(ngModel)]="password" name="password"
                        required>
                </div>
                <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Увійти</button>
            </form>
        </div>
    </div>

</div>