section {
  width: 100vw;
  height: 8vh;
  position: fixed;
  z-index: 1000;

  .navbar {
    width: 100%;
    border-bottom: 0.8px solid var(--clr-2);

    .container-fluid {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .navbar-brand {
        height: 100%;
        display: flex;
        align-items: center;
        margin-left: 10px;
        cursor: pointer;
        img {
          width: auto;
          height: 4vh;
        }
      }
    }
  }
}
