@media (max-width: 786px) {
  section {
    .title {
      width: 90%;
    }

    .description {
      width: 90%;
      height: 70vh;
      .img-fluid {
        width: 100%;
        height: 100%;
      }
    }
  }
}

@media (max-width: 580px) {
  section {
    .description {
      height: 80vh;
      .img-fluid {
        width: auto;
      }
    }
  }
}
