@media (max-width: 580px) {
  section {
    .list-group {
      li {
        display: flex;
        flex-direction: column;

        .image_link {
          width: 100%;
        }
        .title_description {
          width: 100%;
        }
      }
    }
  }
}
