<section>

    <div class="title">
        <div class="contru_name">
            <h1>PARTNERS</h1>
        </div>
        <div class="line"></div>
    </div>


    <ul class="list-group">
        @for(partners of partnersArr; track partnersArr; let i = $index){
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <div class="image_link">
                <a [href]="partners.link" target="_blank">
                    <img [src]="partners.image" alt="{{ partners.name }}" class="img-fluid" style="max-width: 150px;">
                </a>
            </div>
            <div class="title_description">
                <h5>{{ partners.name }}</h5>
                <div class="description" [innerHTML]="partners.description"></div>
            </div>
        </li>
        }
    </ul>


    <footer>
        <div class="footer_links">
            <ul>
                <li class="nav-item">
                    <a [routerLink]="['/about-project']" class="nav-link">About</a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/partners']" class="nav-link">Partners</a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/events']" class="nav-link">News</a>
                </li>

            </ul>
            <div class="contact">
                <a href="mailto:brakethefakes&#64;gmail.com">brakethefakes&#64;gmail.com</a>
                <a class="facebook" href="https://www.facebook.com/caukraine" target="_blank" rel="noopener noreferrer">
                    <img src="../../../assets/icon/facebook.png" alt="">
                </a>
                <a class="facebook" href="https://www.instagram.com/caukraine2022/" target="_blank"
                    rel="noopener noreferrer">
                    <img src="../../../assets/icon/instagram.png" alt="">
                </a>
            </div>
        </div>
        <div class="creat">
            <p>© 2024 <a href="https://ohle-dev.in.ua/" target="_blank">OhleDev</a> All Rights Reserved.</p>
        </div>
    </footer>

</section>