<section>
    <h1>Додайте фейк</h1>



    <div class="button_block">
        <!--Кнопка створення фейку-->
        <div class="creat_button">
            <p>Створити фейк</p>
            <button (click)="fake_form = !fake_form; resetForm()" class="btn btn-outline-secondary" data-rel="address"
                type="button">
                {{ !fake_form ? "ДОДАТИ ФЕЙК" : "ВІДМІНИТИ" }}
            </button>
        </div>
        <!--Фільтр рецептів-->
        <div class="filter" [ngClass]="{ active: fake_form }">
            <p>Фітр по країнах</p>
            <div class="search">

                <select id="countrySelect" class="form-control" (change)="onCountrySelect($event)">
                    <option value="" disabled selected>Оберіть країну</option>
                    <option *ngFor="let country of countryArr" [value]="country.id">{{ country.name }}</option>
                </select>
            </div>
        </div>

    </div>

    <!--таблиця феків-->
    <div class="table_block" [ngClass]="{ active: fake_form }">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">№</th>
                    <th scope="col">Країна</th>
                    <th scope="col">Назва</th>
                    <th scope="col">Опис</th>
                    <th scope="col">Картинка</th>
                    <th scope="col">Дії</th>
                </tr>
            </thead>
            <tbody>
                @for(fakes of fakeArr; track fakeArr; let i = $index){
                <tr>
                    <td>{{ i + 1 }}</td>
                    <td>{{ fakes.country.name}}</td>
                    <td>{{ fakes.nameOrganization}}</td>
                    <td [innerHTML]="fakes.descriptionOrganization"></td>
                    <td class="image">
                        <img [src]="fakes.imageOrganization" />
                    </td>
                    <td class="btn_tr">
                        <a (click)="editFake(fakes)" type="button" title="Редагувати">
                            <img src="../../assets/icon/edit.png" alt="Редагувати">
                        </a>
                        <a (click)="delFake(fakes)" type="button" title="Видалити">
                            <img src="../../assets/icon/dell.png" alt="Видалити">
                        </a>
                    </td>

                </tr>
                }
            </tbody>
        </table>
    </div>


    <form [formGroup]="fakeForm" (ngSubmit)="creatFake()" class="form" [ngClass]="{ active: !fake_form }">

        <div class="top_bloxk">
            <div class="form-group country_select">
                <p>Виберіть країну</p>
                <select id="countrySelect" formControlName="country" class="form-control">
                    <option value="" disabled selected>Оберіть країну</option>
                    <option [ngValue]="country" *ngFor="let country of countryArr">
                        {{ country.name}}
                    </option>
                </select>
            </div>





            <!--Назва-->
            <div class="input_block name">
                <p>Назва</p>
                <div class="input ">
                    <input formControlName="nameOrganization" type="text" name="nameOrganization" class="form-control"
                        placeholder="*Введіь назву">
                </div>
            </div>

            <!--Посилання на петицію-->
            <div class="input_block petition_link ">
                <p>Посилання на петицію</p>
                <div class="input ">
                    <input formControlName="linkPetition" type="text" name="linkPetition" class="form-control"
                        placeholder="*Введіь посилання на петицію">
                </div>
            </div>
        </div>

        <!--Опис організації-->
        <div class="input_block description">
            <h4>Опис </h4>
            <div class="input ">
                <div class="input ">
                    <editor apiKey="zbrfrvv9yk1ghizpiadd8qk7tmbf2ds9a5lwy3b6lzzpsvv8"
                        [init]="{ plugins: 'lists link image table code help wordcount' }" [inline]="false"
                        formControlName="descriptionOrganization"
                        toolbar="bold italic underline | formatpainter | aligncenter alignleft alignright alignjustify | selectall | ltr rtl | code | help">
                    </editor>

                </div>>
            </div>
        </div>

        <!-- Зображення -->
        <div class="image">
            <div class="progress_line">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped" role="progressbar"
                        aria-label="Default striped example" [style.width.%]="uploadPercent" aria-valuemin="0"
                        aria-valuemax="100"></div>
                </div>
            </div>
            <div class="image">
                <img *ngIf="imageOrganization; else emptyImage" [src]="imageOrganization" alt="">
            </div>
            <ng-template #emptyImage>
                <div class="placeholder"></div>
            </ng-template>
            <input #fileInput type="file" style="display: none;" (change)="uploadUserImage($event)" accept="image/*" />

        </div>




        <div class="batton_section">

            <button class="overlay btn btn-outline-secondary" type="button" (click)="fileInput.click()">Змінити
                зображення</button>

            <button [disabled]="fakeForm.invalid" type="submit" class="btn btn-outline-secondary">
                Зберегти
            </button>
        </div>

    </form>



</section>