<section>

    <h1>Інфломація про проект</h1>


    <form [formGroup]="aboutForm" (ngSubmit)="saveAbout()" class="form_category">
        <!--Про проект-->
        <div class="input_block description">
            <h4>Опис</h4>
            <div class="input ">
                <div class="input ">
                    <editor apiKey="7nz9ybi4njv0mtwxfy0gssnq6mboi2nk7jetpeg4n7brgqxq"
                        [init]="{ plugins: 'lists link image table code help wordcount' }" [inline]="false"
                        formControlName="description"
                        toolbar="bold italic underline | formatpainter | aligncenter alignleft alignright alignjustify | selectall | ltr rtl | code | help">
                    </editor>
                </div>
            </div>
        </div>

        <!-- Зображення-->
        <div class="image">
            <div class="progress_line">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped" role="progressbar"
                        aria-label="Default striped example" [style.width.%]="uploadPercent" aria-valuemin="0"
                        aria-valuemax="100"></div>
                </div>
            </div>
            <div class="image">
                <img *ngIf="imageAbout; else emptyImage" [src]="imageAbout" alt="">
            </div>
            <ng-template #emptyImage>
                <div class="placeholder"></div>
            </ng-template>

            <input #fileInput type="file" style="display: none;" (change)="uploadUserImage($event)" accept="image/*" />

        </div>

        <div class="button_block">
            <button class="overlay btn btn-outline-secondary" type="button" (click)="fileInput.click()">Змінити
                зображення</button>




            <div class="batton_section">
                <button type="submit" class="btn btn-outline-secondary">
                    Зберегти
                </button>
            </div>

        </div>



    </form>


</section>