<section>
    <div class="bg_image">
        <img [src]="map" class="img-fluid" alt="Background Image">

    </div>

    <div class="title">
        <div class="contru_name">
            <div class="fla">
                <img src="{{flag}}" alt="" srcset="">
            </div>
            <h1>{{name}}</h1>
        </div>
        <div class="line"></div>
    </div>



    <div class="container-fluid">

        <div class="row">
            <!-- Ліва колонка: Меню -->
            <div class="col-md-4 d-none d-md-block">
                <ul class="list-group">
                    <li *ngFor="let item of items"
                        [ngClass]="{'list-group-item': true, 'active': selectedItem?.id === item.id}"
                        (click)="selectItem(item)">
                        {{ item.nameOrganization }}
                    </li>
                </ul>
            </div>

            <!-- Мобільне меню -->
            <div class="col-12 d-md-none">
                <div class="dropdown">
                    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Select an organization
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li *ngFor="let item of items"
                            [ngClass]="{'list-group-item': true, 'active': selectedItem?.id === item.id}">
                            <a class="dropdown-item" (click)="selectItem(item)">
                                {{ item.nameOrganization }}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Права колонка: Деталі -->
            <div class="col-md-8">

                <div class="information" *ngIf="selectedItem">
                    <h2>{{ selectedItem.nameOrganization }}</h2>
                    <p class="description" [innerHTML]="selectedItem.descriptionOrganization"></p>
                    <img [src]="selectedItem.imageOrganization" alt="Image" class="img-fluid">
                </div>
            </div>
        </div>
    </div>



    <app-footer></app-footer>
</section>