@media (max-width: 786px) {
  section {
    .events_list {
      .list-group {
        li {
          height: auto;
          display: flex;
          flex-direction: column;
          align-items: center;

          .image_link {
            width: 100%;
          }

          .title_block {
            width: 100%;
          }
        }
      }
    }
  }
}
@media (max-width: 586px) {
  section {
    .events_list {
      .list-group {
        li {
          .title_block {
            width: 100%;
            .title_description {
              text-align: justify;
            }
          }
        }
      }
    }
  }
}
