section {
  width: 100vw;
  height: auto;
  padding-top: 8vh;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    width: 80%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 1.5s;
    margin-top: 20px;

    .contru_name {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      h1 {
        border-bottom: none;
      }
    }

    .line {
      width: 100%;
      height: 5px;
      background-color: var(--clr-2);

      transition: width 2s ease;
    }
  }

  .events_list {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
    margin-bottom: 10vh;
    .filter {
      width: 30%;
    }
    .list-group {
      width: 100%;
      height: auto;
      display: flex;
      list-style: none;
      margin-bottom: 10vh;
      li {
        border: none;
        border-bottom: 0.3px solid var(--clr-3);

        .image_link {
          width: 30%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .title_description {
          width: 70%;

          p {
            float: left;
            text-align: justify;
          }
        }
      }
    }
  }
}
