@media (max-width: 786px) {
  section {
    .events_list {
      .list-group {
        li {
          display: flex;
          flex-direction: column;
          align-items: center;

          .image_link {
            width: 100%;
          }

          .title_description {
            width: 100%;
          }
        }
      }
    }
  }
}
